@{
    ViewBag.Title = "Home Page";
 }

<h1>Tour Manager</h1>
<p>This will be a fun Website Soon</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>